// global styling variables


$base-color: #82c0ff;
$dark-base-color: #4595d6;
$light-base-color: #e6f2ff;
$light-text-color: #ffffff;


$test-color: #9c77a3;




// menu width
$menu-width: 250px;
// menu logo
$menu-logo-width: 100px;
$menu-logo-height: 80px;
// menu logo text
$menu-logo-text-size: 20px;
$menu-logo-text-color: #ffffff;

$menu-hover-color: #3671a1;
$menu-min-width: 60px;


// top-nav
$top-nav-height: 80px;


//main content